* {
    background-color: rgb(101, 174, 122);
}

.welcome {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
   
}

header {
    background-color: rgb(20, 52, 90);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
    position:fixed;
    width: 100%;
    top: 1px;
    z-index: 1000;
}

footer {
    background-color: rgb(20, 52, 90);
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

li {
    list-style: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

main {
     position: relative;
     top: 150px;
     padding-bottom: 50px;
}